extends index.pug

block content
	.container
		h1 Computer List
		a(href="/computers-add") Create New
		.computers-table
			table(class="table")
				thead
					tr
						th ID
						th Serial #
				tbody
					each computer in computers
						tr
							td #{computer.id}
							td: a(href=`/computers/${computer.id}`) #{computer.serial_number}