extends index.pug

block content
	.container
		h1 Create New Computer
			form(action="/computers/add" method="post")
		.form-group
			label(class="form-control-label" for="manufacturer") Manufacturer
			input(type="text" class="form-control" id="manufacturer" placeholder="Manufacturer" name="manufacturer")
		.form-group
			label(class="form-control-label" for="model") Model
			input(type="text" class="form-control" id="model" placeholder="Model" name="model")
		.form-group
			label(class="form-control-label" for="purchase_date") Purchase Date
			input(type="text" class="form-control" id="purchase_date" placeholder="YYYY-MM-DD" name="purchase_date")
		.form-group
			label(class="form-control-label" for="decommission_date") Decommission Date
			input(type="text" class="form-control" id="decommission_date" placeholder="YYYY-MM-DD" name="decommission_date")
		button(type="submit" class="btn btn-primary") Submit
