extends index.pug

block content
  h1 Employee List
  .employees-table
    table(class="table")
      thead
        tr
          th First Name
          th Last Name
          th Department
      tbody
        each employee in employees
          tr
            td #{employee.first_name}
            td #{employee.last_name}
            td #{employee.department}