doctype html
html
  head
    title Bangazon Workforce Managament
    include stylesheets.pug
  body
    h1 Bangazon Workforce Managament
    .employees
      each employee in employees
        p #{employee.first_name} #{employee.last_name} #{employee.department}
