extends index.pug

block content
	h1 #{program.name}
	.employees-table
			table(class="table")
				thead
					tr
						th First Name
						th Last Name
				tbody
					each employee in deptEmployees
						tr
							td #{employee.first_name}
							td #{employee.last_name}
