extends index.pug

block content
	.container
		h1 Create New Training Program
		form(action="/training-add" method="post")
			.form-group
				label(class="form-control-label" for="title") Title
				input(type="text" class="form-control" id="title" placeholder="Title" name="title")
			.form-group
				label(class="form-control-label" for="max_attendance") Max Attendance
				input(type="number" class="form-control" id="max_attendance" placeholder="Max Attendance" name="max_attendance")
			.form-group
				label(class="form-control-label" for="description") Description
				input(type="text" class="form-control" id="description" placeholder="Description" name="description")
				- const date = new Date().toISOString().substr(0,10);
			.form-group
				label(class="form-control-label" for="start_date") Start Date
				input(type="date" class="form-control" id="start_date" placeholder="YYYY-MM-DD" name="start_date" min=date required)
			.form-group
				label(class="form-control-label" for="end_date") End Date
				input(type="date" class="form-control" id="end_date" placeholder="YYYY-MM-DD" name="end_date" min=date required)
			button(type="submit" class="btn btn-primary") Submit